<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .image{
            margin-top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 100%;
            background-size: cover;
            background-image: url("https://wallpaper.forfun.com/fetch/03/03fcf3213fcf72f9632092804abd88a2.jpeg");
        }
    </style>
</head>
<body class="image">
<div style="padding-top: 30%; margin-left:15%;">
<div style="display: inline-block; width: 65%">
    <form action="" method="post" enctype="multipart/form-data" style="color: azure";>
    Select image to upload:
    <input type="file" name="image" id="image" style="display: block; margin-top: 15px">
    <input type="submit" value="Upload Image" name="submit" style="display: block; margin-top: 10px;">
    </form>
</div>

<div style="color: white; display: inline-block;">
    <h1>Chess AI</h1>
    <p>This is a AI that can decide</p>
    <p>which chess figure did you send to him</p>
    <p>© By Stepan Shevchuk</p>
</div>
</div>

</body>
</html>