<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your figure</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .image{
            margin-top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 100%;
            background-size: cover;
            background-image: url("https://i.pinimg.com/originals/b2/30/90/b23090886a0d747b04e17474e79621dc.jpg")        }
    </style>
</head>
<body class="image">
<div style="padding-top: 30%; margin-left:15%;">
<div style="color: white; display: inline-block;">
    <h1>{{figure}}</h1>
    <h2>With chance {{ chance }}</h2>
    <p>On the image that you have loaded</p>

</div>
</div>

</body>
</html>